body{
             background-color: #f0f8ff;
             }


        div{
             width: 75%;
             min-width: 500px;
             border:1px solid  #333333;
             margin: 1em 0em;
             padding: 0.5em;
             background-color: white;

            }
        span{
             font-weight: bold;
             padding: 0em 0.5em;

            }

            #div2{
                border-style: dashed; 
                border-color: red;
                color: red;

            }

            #quis{
                background-color:#fdfd96;
            }

            #ipsum{

                background-color:#fdca96;
            }